/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#map-container {
	height: 180px; 
}

body {
	padding-top: 50px;
	padding-bottom: 20px;
}

img {
	max-height: 1000px;
	width: auto;
	margin: auto;
}










